<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Ball Dispenser</title>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="{{ url_for('static',     filename='js/script.js') }}"></script>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    </div>
        

    <div class="groupParallax">
        <!-- Images go here -->
        <div class="layerParallax mainbgImage"></div>
        <div class="layerParallax pingpongxs"></div>
        <div class="layerParallax pingpongs"></div>
        <div class="layerParallax pingpongl"></div>
        <div class="layerParallax mainTitlePic"></div>
        <div class="layerParallax pingpongxl"></div>
        <div class="layerParallax pingpongxxl"></div>
        <!-- Transparent Navigation Bar -->
    </div>
    <div class="groupParallax gridContainer">
        <div class="subHeader">
            <p>Our Created Device, the <span style="font-weight: bold;">Pet Ball Dispenser</span><i style="font-size: 1rem; opacity: 70%;;">for the lack of names</i>, is a product that dispenses regular sized ping pong balls when a user shines a laser on the device's photocell or uses the built-in multifunction knob<br>All for the enjoyment of a pet such as a kitten &#x1f638;</p>
            <img class="actualDevice" src="{{ url_for('static',     filename='Images/main/contentImages/device.png') }}" alt="Actual Device">
        </div>
        
        
        <div class="text">
            <h2>Watch it in action!</h2>
            <p>This video demonstrates the device's functionality in a real-world scenario<br><i>Spoilers: video will be ready after 12/10 &#128513</i></p>
        </div>
        <div class="videoContainer">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FTmKMXAFOr0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
        <div class="subHeader">
            <p>You may view all the source code for this website and download all the files on GitHub!</p>
            <a id="gitHubRepo" href="https://github.com/DawodRafoka/petBallDispenser" class="btn" style="font-size: 1rem" target="blank">Visit GitHub Repo</a>
        </div>
        

    
    </div>
    
    {% endblock %}
    <!-- <section class="overflow"></section> -->
</body>
</html>