@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); /*Bold font*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

/*
color palette: user RapidTables for translation
orange #EB770B rgb(235, 119, 11)
red: #EE4540  rgb(238, 69, 64)
redish: #C72C41 rgb(199, 44, 65)
maroon: #801336 rgb(128, 19, 54)
redberry: #510A32 rgb(81, 10, 50)
purple: #2D142C rgb(45, 20, 44)
*/

* {
  /*Typical for every styling page*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  
}

html,
body {
  font-family: Montserrat, Helvetica, Arial, sans-serif; /*Choose in order*/
  font-weight: 500; /*Light*/
  color: white;
  width: 100%;
  height: 100%;
  background-color: #2d142c;
}

a {
  text-decoration: none; /*To not show the underline*/
  color: white;
}

a:hover {
  opacity: 90%;
  font-size: 1.05rem;
  text-shadow: #000 0 0 2px;
  transition: 150ms ease-in-out;
}

label {
  display: block;
  margin-top: 1rem;
}

/******** Scroll Bar *************/
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d142c; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5a3a59; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #776376; 
}

input, textarea{
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: whitesmoke;
  font-size: 1rem;
  font-style: italic;
  display: block;
  width: 95%;
  padding: 0.5rem;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 0.5px solid whitesmoke;
}

input:focus, textarea:focus{
  background-color: rgba(5, 2, 5, 0.2);
}

textarea {
  resize: vertical;
  overflow-y: auto;
  height: 3rem;
  min-height: 2rem;
  max-height: 15rem;
}

footer {
  /* overflow: hidden; */
  position: relative;
  width: 100%;
  /* height: 4rem; */
  height: auto;
  bottom: 0;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
  /* background: rgba(5, 2, 5, 0.5); */
  background: rgb(5, 2, 5);
  /* color: whitesmoke; */
  transition: bottom 0.25s ease-in-out;
  /* z-index: -1; */
}

.footer p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}


.mainTitle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 38rem;
  
  opacity: 80%;
  display: flex;
  justify-content: center;
}

.mainTitle h1 {
  font-family: Bebas, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(238, 69, 64, 0.8);
  -webkit-text-stroke: 2px rgba(81, 10, 50, 0.3);
  text-shadow: rgba(235, 119, 11, 0.35) 0 0 20px;
  position: absolute;
  font-size: 4rem;
}
.indexTitle h1:nth-of-type(1) {
  font-weight: 700;
  font-size: 5rem;
  top: -12%;
}

.indexTitle h1:nth-of-type(2) {
  font-weight: 800;
  font-size: 4.05rem;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;

  /* word-wrap: break-word; */
}

/*Blur the background when form opens*/
.wrapper#bg.active
{
  filter: blur(5px) brightness(80%);
  pointer-events: none;
  user-select: none;
}


.groupParallax {
  position: relative;
  height: 100vh;
  width: 100vw;
  transform-style: preserve-3d;
}

.layerParallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*************  index.html background ************/
.mainbgImage {
  background: url("../Images/main/mainbgImage.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3); /*Slowest scroll*/
  z-index: 1; /*First Layer*/
}

.pingpongxs {
  background: url("../Images/main/pingpongxs.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-450px) scale(2.5); /*Scroll Slower*/
  opacity: 65%;
  z-index: 2; /*Second Layer*/
}

.pingpongs {
  background: url("../Images/main/pingpongs.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-300px) scale(2); /*Scroll Slower*/
  opacity: 55%;
  filter: blur(6px);
  z-index: 3; /*Third Layer*/
}

.pingpongl {
  background: url("../Images/main/pingpongl.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-100px) scale(1.4); /*Normal Scrolling*/
  opacity: 45%;
  filter: blur(11px);
  z-index: 4; /*Forth Layer*/
}

.pingpongxl {
  background: url("../Images/main/pingpongxl.png") no-repeat center;
  background-size: cover;
  transform: translateZ(0px) scale(1.3); /*Normal Scrolling*/
  opacity: 35%;
  filter: blur(19px);
  z-index: 5; /*Fifth Layer*/
}

.pingpongxxl {
  background: url("../Images/main/pingpongxxl.png") no-repeat top;
  background-size: cover;
  transform: translateY(80px) translateZ(220px) scale(0.29);
  opacity: 15%;
  filter: blur(26px);
  overflow: hidden;
  z-index: 6; /*Sixth Layer*/
}

/* mechanical.html */
.mechanicalTitle {
  transform: skew(1.5deg, 3deg) translateX(-210px) translateY(-240px) scale(0.85);
  z-index: 5;
}

.mainMechanical {
  background: url("../Images/mechanical/base.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3); /*Slowest scroll*/
  z-index: 1; /*First Layer*/
}

.enclusure {
  background: url("../Images/mechanical/enclusure.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-350px) scale(2.18); /*Scroll Slower*/
  opacity: 65%;
  z-index: 2; /*Second Layer*/
}

.connecter {
  background: url("../Images/mechanical/connecter.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-250px) scale(1.9); /*Scroll Slower*/
  opacity: 55%;
  /* filter: blur(6px); */
  z-index: 1; /*Third Layer*/
}

.hopper {
  background: url("../Images/mechanical/hopper.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-150px) scale(1.5); /*Normal Scrolling*/
  opacity: 45%;
  /* filter: blur(11px); */
  z-index: -1; /*Forth Layer*/
}

.lid {
  background: url("../Images/mechanical/lid.png") no-repeat center;
  background-size: cover;
  transform: translateZ(0px) scale(1); /*Normal Scrolling*/
  opacity: 35%;
  /* filter: blur(19px); */
  z-index: -2; /*Fifth Layer*/
}

/* electrical.html */

.electricalTitle {
  transform: skew(2deg, 9deg) translateX(-190px) translateY(-300px) scale(0.9);
  z-index: 5;
}


.mainElectrical {
  background: url("../Images/electrical/mainElectrical.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3);
  z-index: 0; /*First Layer*/
}

.uiPCB {
  background: url("../Images/electrical/uiPCB.png") no-repeat center;
  background-size: cover;
  transform: translateZ(0px) scale(1); 
  opacity: 35%;
  z-index: 4; 
}

.mainPCB {
  background: url("../Images/electrical/mainPCB.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-150px) scale(1.5);
  opacity: 45%;
  z-index: 3; 
}

.stepper {
  background: url("../Images/electrical/stepper.png") no-repeat center;
  background-size: cover;
  /* transform: translateZ(90px) scale(0.7);  */
  transform: translateZ(-300px) scale(2);
  opacity: 55%;
  z-index: 2;
}

.dcMotor {
  background: url("../Images/electrical/dcMotor.png") no-repeat center;
  background-size: contain;
  /* transform: translateZ(150px) scale(0.45); */
  transform: translateZ(90px) scale(0.7);
  opacity: 65%;
  z-index: 1;
  bottom: -10%;
}

/************************** firmware.html ****************************/

.mainFirmware {
  background: url("../Images/firmware/mainFirmware.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3);
  z-index: 0; /*First Layer*/
}

.leftCode {
  background: url("../Images/firmware/leftCode.png") no-repeat center;
  background-size: contain;
  /* transform: translateZ(0px) scale(1);  */
  transform: translateY(120px) translateZ(130px) scale(0.8);
  opacity: 45%;
  z-index: 4; 
}

.rightCode {
  background: url("../Images/firmware/rightCode.png") no-repeat center;
  background-size: contain;
  transform: translateY(100px) translateZ(-150px) scale(3);
  opacity: 25%;
  filter: blur(1px);
  z-index: 3; 
}

.centerCode {
  background: url("../Images/firmware/centerCode.png") no-repeat center;
  background-size: cover;
  /* transform: translateZ(90px) scale(0.7);  */
  transform: translateZ(-300px) scale(2);
  opacity: 15%;
  filter: blur(4px);
  z-index: 2;
}


.showLines {
  float: right;
  
}

div .codeSegment {
  /* align-content: center;
  align-self: center;
  align-items: center; */
  max-width: 80%;
  
}
/* code inspired from speckyboy.com */
code, pre{
  color: whitesmoke;
  font-family: "Consolas", "Bitstream Vera Sans Mono", 'Courier New', Courier, monospace;
  direction: ltr;
  text-align: left;
  white-space:  pre;
  /* text-justify: distribute-all-lines; */
  word-wrap: break-word;
  word-spacing: normal;
  word-break: normal;
  font-size: 0.9rem;
  line-height: 1.1rem;
  tab-size: 4;
  hyphens: none;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

pre {
  padding: 1rem;
  margin: 1rem 0;
  overflow: auto;
  border: 1px solid #393A34;
  background-color: #272027;
  counter-reset: linecounter;
}

pre span.line {
  counter-increment: linecounter;
  line-height: 16px;
}
pre span.line::before {
  content: counter(linecounter);
  color: #eb770b;
  width: 30px;
  display: inline-block;
  border-right: 1px dotted #ccc;
  padding-right: 3px;
  margin-right: 5px;
  text-align: right;
  font-size: 0.8rem;
  line-height: 16px;
}


code, pre {
  padding: 1rem;
  padding-top: 2px;
  padding-bottom: 1px; 
  /* background: #f8f8f8; */
  background: #16001b;
  border: 1px solid #dddddd;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: #209b20b0;
  font-style: italic;
}
.token.namespace {
  opacity: 0.7;
}
.token.string, .token.attr-value {
  color: #ee4540;
}
.token.punctuation, .token.operator {
  /* color: #393A34; */
  color: #5f96bb;
}
.token.entity, .token.url, .token.symbol, .token.number, 
.token.boolean, .token.variable, .token.constant, .token.property,
.token.regex, .token.inserted {
  color: #36acaa;
}
.token.function, .token.deleted, .language-autohotkey .token.tag {
  color: #00a5db;
}
.token.tag, .token.selector, .language-autohotkey .token.keyword {
  color: #00009f;
}
.token.important, .token.function, .token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}





/************************** about.html ****************************/

.mainAbout {
  background: url("../Images/about/mainAbout.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-600px) scale(3); /*Slowest scroll*/
  z-index: 1; /*First Layer*/
}

.aboutxs {
  background: url("../Images/about/xs.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-450px) scale(2.5); /*Scroll Slower*/
  opacity: 65%;
  filter: blur(10px);
  z-index: 2; /*Second Layer*/
}

.abouts {
  background: url("../Images/about/s") no-repeat center;
  background-size: cover;
  transform: translateZ(-300px) scale(2); /*Scroll Slower*/
  opacity: 55%;
  filter: blur(15px);
  z-index: 3; /*Third Layer*/
}

.aboutl {
  background: url("../Images/about/l.png") no-repeat center;
  background-size: cover;
  transform: translateZ(-100px) scale(1.4); /*Normal Scrolling*/
  opacity: 25%;
  filter: blur(18px);
  z-index: 4; /*Forth Layer*/
}

.aboutxl {
  background: url("../Images/about/lx.png") no-repeat center;
  background-size: contain;
  transform: translateZ(100px) scale(1); /*Normal Scrolling*/
  opacity: 35%;
  filter: blur(25px);
  z-index: 5; /*Fifth Layer*/
}

.aboutTitle {
  opacity: 80%;
}

.portrait {
  border-radius: 50%;
  height: 20vh;
  width: 20vw;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}

.portrait:hover {
  border-radius: 15%;
  transform: scale(1.8);
  transition: all 200ms ease-in-out;
}

.socialMedia {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.linkedin {
  margin-right: 0.25rem;
}
.fa{
  padding: 0.5rem;
  font-size: 3rem;
  /* width: 2rem; */
  text-align: center;
  text-decoration: none;
  /* margin: 5px 2px; */
  border-radius: 50%;
  justify-content: center;
}

.fa:hover {
    /* border: 1px solid #007bb5; */
    box-shadow: #007bb5 0 0 30px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.dawod {
  border: 1px solid #0b74eb;
  box-shadow: #0b74eb 0 0 30px;
}
.james {
  border: 1px solid #8696a8;
  box-shadow: #8696a8 0 0 30px;
}
.jared {
  border: 1px solid #eb770b;
  box-shadow: #eb770b 0 0 30px;
}
.othman {
  border: 1px solid #ee4540;
  box-shadow: #ee4540 0 0 30px;
}

/*Add the rest of the layers with translate -75px and scale -25*/
.hero-text {
  background-image: linear-gradient(
    rgba(235, 119, 11, 0.3) 0%,
    rgba(235, 119, 11, 0.25) 10%,
    rgba(143, 62, 62, 0) 80%,
    rgba(45, 20, 44, 1) 100%
  );
  transform: translateZ(0) scale(1); /*make it stick*/
  background-size: cover;
  z-index: 10; 
}

.hero-text #mainLogo {
  font-size: 2rem;
  font-family: "Bebas Neue", cursive;
  position: absolute;
  left: 2rem;
  top: 2rem;
  color: rgba(235, 119, 11, 50%);
  font-weight: 100;
  line-height: 0.8;
}

.flex-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.hero-text ul li:nth-of-type(1) {
  cursor: pointer;
}

.hero-text ul{
  font-size: 1rem;
  right: 2.5rem;
  top: 2rem;
  list-style-type: none;
}

.hero-text ul li {
  margin-bottom: 0.3rem;
}


.btn {
  border: 1.5px solid #eb770b;
  color: #eb770b;
  border-radius: 0.8rem;
  font-weight: 600;
  transform: translateY(-4px); /*to aliegn*/
  padding: 2px 10px 2px 10px;
  /* transition: all 0.1s ease-in-out; */
}

.btn:hover {
  /*Invert the colors*/
  color: #2d142c;
  background-color: #eb770b;
}

#popupForm.active {
  visibility: visible;
  opacity: 0;
  transition: 0.5s;
}

.formContainer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: max-content;
  max-height: 90%;
  padding: 3rem;
  border-radius: 1rem;
  background: rgba(81, 10, 50, 0.25);
  border: 1px solid rgba(235, 119, 11, 0.4);
  box-shadow: rgba(235, 119, 11, 0.5) 0 0 20px;
  justify-self: center;
  backdrop-filter: blur(20px);
  z-index: 7;
}

.formContainer a, .btn, h2, .mailTo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  /* width: max-content; */
}

.formContainer .commentNode {
  font-size: 0.7rem;
  font-style: italic;
  font-weight: 300;
  color: rgba(255,255,255, 0.5);
  margin-left: 0.7rem;
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 25px;
  font-weight: 300;
}
.closeBtn:hover {
  /*to animate the button but keep it in its position*/
  top: 1px;
  right: 22px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ee4540;
  transition:all 0.1s ease-in-out;
  text-shadow: #000 0 0 2px;
}

#submit {
  font-size: 1.2rem;
  font-weight: 200;
  padding: 5px 0 5px 0;
  margin-top: 2rem;
  color: #eb770b;
  background-color: rgba(45, 20, 44, 0.8);
  width: 40%;
  
}
#submit:hover {
  font-weight: bold;
  color: #2d142c;
  background-color: rgba(235, 119, 11, 0.5);
  box-shadow: rgba(255,255,255, 0.5) 0 0 20px;
}

.gridContainer {
  transform: translateZ(0) scale(1); /*regular scrolling*/
  z-index: 6;
  /* background: #2D142C; */
  background: linear-gradient(
    rgb(45, 20, 44) 0%,
    /* rgb(68, 21, 70)  50%, */ rgb(27, 7, 23) 90%,
    rgb(5, 2, 5) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  block-size: fit-content; /*Prevent layers overlapping with layerParallax*/
}

.subHeader {
  color: #eb770b;
  /* text-shadow: rgba(238, 69, 64, 0.8) 1px 1px 1px; */
  font-size: 2rem;
  font-weight: 500;
  text-justify: distribute-all-lines;
  text-align: center;
  margin: 2rem 4rem 4rem 4rem;
}

.videoContainer {
  border: 1px solid #ee4540;
  box-shadow: #ee4540 0 0 30px;
  margin-top: 0.5rem;
  margin-bottom: 8rem;
}

.gridContainer img {
  width: fit-content;
  max-width: 95%;
  margin-top: 0.5rem;
  margin-bottom: 8rem;
}

.gridContainer h2,
.gridContainer p {
  margin-bottom: 1rem;
}

.text {
  margin-bottom: 1rem;
  /* margin: 0 2rem 2rem 0; */
  font-size: 1rem;
  max-width: 90%;
}
.text p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: justify;
}
/* @media (min-width: 1200px) {
  .mainbgImage,
  .pingpongxl,
  .pingpongl,
  .pingpongs,
  .pingpongxs,
  .hero-text {background-size: contain;}
} */

@media (min-width: 850px) {

  .flex-container {
    margin-left: 2rem;
    flex-direction: row;
  }
  .hero-text ul li:nth-of-type(1) {
    order: 1;
  }

  .hero-text ul li {
    margin-left: 1.5rem;
    cursor: pointer;
  }

  .gridContainer {
    display: grid;
    /* grid-column: auto; */
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    /* grid-template-columns: max-content max-content max-content; */
    grid-column-gap: 1rem;
    align-items: center;
    text-align: left;
  }
  .subHeader{
    /*To not display next to it*/
    grid-column: 1/3;
  }

  .codeSegment {
    /*To not display next to it*/
    grid-column: 1/3;
  }

  .gridContainer img,
  .videoContainer {
    width: fit-content;
    max-width: 90%;
    margin-bottom: 4rem;
    justify-self: center;
  }

  .text {
    margin-bottom: 2rem;
    margin-right: 2rem;
    font-size: 1.1rem;
    text-align: left;
    grid-column: 2/3; /*Text to be displayed on the right*/
  }
}

@media (max-width: 400px) {
  .hero-text a {
    display: none;
  }
}
/*
.CoverPage {
    width: 100%;
    height: 100vh;  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.text-wrapper{
    text-align: center;
}
.headline {
    font-size: 15rem;
    font-family: 'Bebas Neue', cursive;     
    color: rgb(255, 203, 107);
    font-weight: 100;
    line-height: .8;    
}


.sub-headline {
    font-size: 10rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    color: cornsilk;
}

.CoverPicture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;    
}
*/
/* .overflow {
  height: 200vh; /*to be able to scroll*/
