<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{{ url_for('static',     filename='js/script.js') }}"></script>
</head>
<body>
    
    {% extends "template.html" %}
    {% block content %}
        </div>
        <div class="groupParallax">
            <!-- Images go here -->
            <div class="layerParallax mainAbout"></div>
            <div class="layerParallax aboutxs"></div>
            <div class="layerParallax abouts"></div>
            <div class="layerParallax titleAbout"></div>
            <div class="layerParallax aboutl"></div>
            <div class="layerParallax aboutxl"></div>
            <!-- Transparent Navigation Bar -->
        </div>
        <div class="groupParallax gridContainer">
            <div class="subHeader">
                <p>Learn more about us!</p>
            </div>
            
            <div class="text">
                <h2>Dawod R.</h2>
                <p>Majoring in Computer Engineering, Dawod was responsible on the System Engineering, Firmware Design with a focus on UI components, and helping the team with Electrical and Mechanical Designs. Additionally, Dawod was responsible on creating the frontend of this website.</p>
                <div class="socialMedia">
                    <a class= "linkedin" href="https://www.linkedin.com/in/dawodrafoka/" target="blank"><span>Visit Dawod's LinkedIn </span></a>
                    <a class= "fa fa-linkedin" href="https://www.linkedin.com/in/dawodrafoka/" target="blank"></a>
                </div>
            </div> 
            <img class="portrait dawod" src="{{ url_for('static',     filename='Images/about/contentImages/dawodPortrait.jpg') }}" alt="Dawod">
            
            <div class="text">
                <h2>James B.</h2>
                <p>Majoring in Computer Engineering, James was responsible on designing and printing the Mechanical Components, assisting with Firmware Design with the focus on controlling the motors, and assisting the team with the electrical components.</p>
                <div class="socialMedia">
                    <a class= "linkedin" href="https://www.linkedin.com/in/james-bunnell-33253b15a/" target="blank"><span>Visit James' LinkedIn </span></a>
                    <a class= "fa fa-linkedin" href="https://www.linkedin.com/in/james-bunnell-33253b15a/" target="blank"></a>
                </div>
            </div> 
            <img class="portrait james" src="{{ url_for('static',     filename='Images/about/contentImages/jamesPortrait.jpg') }}" alt="James">
            
            <div class="text">
                <h2>Jared G.</h2>
                <p>Majoring in Electrical Engineering, Jared was responsible on the Electrical Design of this project; this includes the electrical design/analysis and designing the Main PCB.</p>
                <div class="socialMedia">
                    <a class= "linkedin" href="#" target="blank"><span>Visit Jared's LinkedIn </span></a>
                    <a class= "fa fa-linkedin" href="#" target="blank"></a>
                </div>
            </div> 
            <img class="portrait jared" src="{{ url_for('static',     filename='Images/about/contentImages/jaredPortrait.jpg') }}" alt="Jared">
            
            <div class="text">
                <h2>Othman A.</h2>
                <p>Majoring in Electrical Engineering, Othman was responsible on managing the parts for the project and designing the UI PCB.</p>
                <div class="socialMedia">
                    <a class= "linkedin" href="https://www.linkedin.com/in/othman-alhasan-b2bb11200/" target="blank"><span>Visit Othman's LinkedIn </span></a>
                    <a class= "fa fa-linkedin" href="https://www.linkedin.com/in/othman-alhasan-b2bb11200/" target="blank"></a>
                </div>
            </div> 
            <img class="portrait othman" src="{{ url_for('static',     filename='Images/about/contentImages/othmanPortrait.jpg') }}" alt="Othman">
        
        </div>
    {% endblock %}
        
</div>
</body>
</html>