<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electrical Design</title>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">
</head>
<body>
    
    {% extends "template.html" %}
    {% block content %}
        </div>
        <div class="groupParallax">
            <!-- Images go here -->
            <div class="layerParallax mainElectrical"></div>
            <div class="layerParallax uiPCB"></div>
            <div class="layerParallax mainPCB"></div>
            <div class="layerParallax titleElectrical"></div>
            <div class="layerParallax dcMotor"></div>
            <div class="layerParallax stepper"></div>
            <!-- Transparent Navigation Bar -->
            
        </div>
        <div class="groupParallax gridContainer">
            <div class="subHeader">
                <p>A brain needs a body to operate!<br>Our device's electrical portion consists of PCBs, motors, drivers, passive/active components, wires, and of course, the Arduino Due</p>
            </div>
            
            <div class="text">
                <h2>Main PCB</h2>
                <p> The main PCB is responsible for receiving a 12V input from the 120ACV-12DCV and distributing the accurate voltage and current to all the components through voltage regulators and passive components <br>It is also the housing for the major components such as the Arduino Due, power connector, and motor drivers.</p>
                <a id="backToTop" href="{{ url_for('download', Folder='Electrical', FileName='Pet_Ball_Dispenser_PCB.pdf') }}" class="btn" >Download</a>
            </div>
            <img src={{ url_for('static',     filename='Images/electrical/contentImages/mainPCB.png') }} alt="3D Model">
            
            <div class="text">
                <h2>User Interface PCB</h2>
                <p>The sole purpose of the UI PCB was to act as a holding station for the UI components such as the LCD, Multifunction Knob, Power Switch, and LED power indicator.<br>This PCB does not contain and passive components as all power regulations are done in the Main PCB which connects to this board with one ribbon cable. </p>
                <a id="backToTop" href="{{ url_for('download', Folder='Electrical', FileName='User_Input_PCB.pdf') }}" class="btn" >Download</a>
            </div>
            <img src={{ url_for('static',     filename='Images/electrical/contentImages/uiPCB.png') }} alt="3D Model">

            <div class="text">
                <h2>Initial Wiring Diagram</h2>
                <p>Initially, during prototype phase, we focused on the idea that both be connected from one part only hence the idea of male-female connections shown below. We later realized that it is impractical to debug and setup, so we went with the ribbon cable connection.<br>Also, at this point of the project, the DC motor is not included as it was a stretch goal. It is also worth to mention that the motor did not fit as intended in the inclosure, so we had to adjust the Main PCB to account for the Stepper motor housing. </p>
            </div>
            <img src={{ url_for('static',     filename='Images/electrical/contentImages/initialWiringDiagram.png') }} alt="3D Model">


            <div class="text">
                <h2>Final Wiring Diagram</h2>
                <p>After all the necessary adjustment, the figure below shows the final wiring diagram of the project with all the edge cases being accounted for.<br>The connection to the 120ACV-12DCV adapter is not shown in the diagram below because it is oriented to the right side of the device. <br>It can be noticed that the DC motor wires look off, but they are actually routed through their designated tunnel.</p>
            </div>
            <img src={{ url_for('static',     filename='Images/electrical/contentImages/finalWiringDiagram.png') }} alt="3D Model">


        </div>
    {% endblock %}
</body>
</html>