<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mechanical Design</title>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static',     filename='js/script.js') }}"></script>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}
            <div class="mainTitle mechanicalTitle">
                <h1>MECHANICAL</h1>
            </div>
        </div>
        <div class="groupParallax">
            <!-- Images go here -->
            <div class="layerParallax mainMechanical"></div>
            <div class="layerParallax enclusure"></div>
            <div class="layerParallax connecter"></div>
            <div class="layerParallax hopper"></div>
            <div class="layerParallax lid"></div>
            <!-- Transparent Navigation Bar -->
        </div>
        <div class="groupParallax gridContainer">
            <div class="subHeader">
                <p>All the Mechanical designs were created with SolidWorks 2021<br>3D printed with a personally modifed printer</p>
            </div>
            
            <!-- One Download Button Start -->
            <div class="text">
                <h2>Enclosure Assembly</h2>
                <p>This part simply holds the hopper to the main enclosure and correctly spaces the hopper over the dispening ramp.</p>
                <a id="d" href="{{ url_for('download', Folder='Mechanical', FileName='Enclosure_Assembly.SLDASM') }}" class="btn" >Download .SLDASM File</a>
            </div>
            <img src="{{ url_for('static',     filename='/Images/mechanical/contentimages/connector.png') }}" alt="Enclosure Assembly">
            <!-- One Download Button End -->

            <div class="text">
                <h2>Hopper</h2>
                <p>This part holds the ping pong balls and feeds the ball into the dispenser disk.</p>
                <a id="downloadBtn" href="{{ url_for('download', Folder='Mechanical', FileName='Hopper_Base_Assembly.SLDASM') }}" class="btn" >Download .SLDASM File</a>
            </div>
            <img src="{{ url_for('static',  filename='/Images/mechanical/contentimages/hopper.png') }}" alt="Hoper">

            <div class="text">
                <h2>Hopper Lid</h2>
                <p>This part screws into the hopper and secures the ping pong balls inside.</p>
                <a id="downloadBtn" href="{{ url_for('download', Folder='Mechanical', FileName='Hopper_Lid.SLDPRT') }}" class="btn" >Download .SLDASM File</a>
            </div>
            <img src="{{ url_for('static',     filename='/Images/mechanical/contentimages/lid.png') }}" alt="Lid">

            <div class="text">
                <h2>Connecting Bar</h2>
                <p>This part simply holds the hopper to the main enclosure and correctly spaces the hopper over the dispening ramp.</p>
                <a id="downloadBtn" href="{{ url_for('download', Folder='Mechanical', FileName='Connecting_Bar.SLDPRT') }}" class="btn" >Download .SLDASM File</a>
            </div>
            <img src="{{ url_for('static',     filename='/Images/mechanical/contentimages/connector.png') }}" alt="Connecting Bar">

            <div class="text">
                <h2>Dispenser Ramp</h2>
                <p>This part simply holds the hopper to the main enclosure and correctly spaces the hopper over the dispening ramp.</p>
                <a id="downloadBtn" href="{{ url_for('download', Folder='Mechanical', FileName='Foot_Ramp.SLDPRT') }}" class="btn" >Download .SLDASM File</a>
            </div>
            <img src="{{ url_for('static',     filename='/Images/mechanical/contentimages/base.png') }}" alt="Dispenser Ramp">


        </div>

    {% endblock %}
</body>

</html>